.projects {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 40px;
}

@media (min-width: 1070px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 599px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
